* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #002341; /* Green */
    padding: 20px;
    color: white;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}